<div class="card__container">
  @for (weather of weatherData; track $index) {
  <div class="card">
    <div class="card__date">
      {{ weather.date | date : "fullDate" }}
    </div>
    <div class="card__temperature">
      {{ weather.temp | number : "1.0-0" }} °C
    </div>
    <div class="card__description">{{ weather.description }}</div>
    <div class="card__temperature-range">
      <span class="card__temperature-min">
        {{ weather.minTemp | number : "1.0-0" }} °C
      </span>
      |
      <span class="card__temperature-max">
        {{ weather.maxTemp | number : "1.0-0" }} °C
      </span>
    </div>

    <div class="card__icon">
      <img
        *ngIf="weather.icon"
        [src]="'https://openweathermap.org/img/wn/' + weather.icon + '@2x.png'"
        alt="Weather icon"
      />
    </div>
    <div class="card__wind">{{ weather.wind }} m/s</div>
  </div>
  }
</div>
